/// Root Styles file
/// Here we define all the root variables we need for our project.
/// For examples see Material Design color system: https://m2.material.io/design/color/the-color-system.html

:root {
    --white-color: #fff;
    --black-color: #000;
    --light-gray-color: #ECECEC;
    --dark-gray-color: #979797;
    --background-color: #F8E0D7;
    --pink-color: #F8D7D7;
    --light-pink-color: #F8EFD7;
    --dark-pink-color: #F8B69D;
}